<section class="work-detail-list-wrapper">
  <header class="topbar">
    <div class="top-left">
      <button class="back-btn" type="button" (click)="goBack()" aria-label="Back to orders">
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.2" stroke-linecap="round"
          stroke-linejoin="round" aria-hidden="true">
          <polyline points="15 18 9 12 15 6" />
        </svg>
      </button>
      <div>
        <h1 id="works-title">Work Detail</h1>
        <p>TODAY IS THURSDAY, MARCH 12, 2026</p>
      </div>
    </div>
  </header>
  <div *ngIf="loadingInfo" class="loading-state">
    <p>Loading...</p>
  </div>
  <div *ngIf="!loadingInfo" class="tour-header">
    <div class="tour-info">
      <h2>{{ workDetail.serviceName }}</h2>
      <div class="tag-private">{{ workDetail.isPrivate ? 'Private' : 'Group' }}</div>
    </div>
  
    <!-- STEPS -->
    <div class="tour-steps">
      <div class="step-item" *ngFor="
          let status of workStatuses;
          let i = index;
          let last = last
        ">
        <div style="display: flex;">
          <div class="step" [class.active]="isStepActive(status.value)" [class.completed]="i < getCurrentStepIndex()" (click)="onClickStep(status.value)">
            <div class="circle">
              {{ i + 1 }}
            </div>
          </div>
          <div class="line" *ngIf="!last" [class.completed]="i < getCurrentStepIndex()"></div>
        </div>
        <span>
          {{ isStepActive(status.value) && status.value === workDetail.status ? status.label.toUpperCase() : '' }}
        </span>
      </div>
    </div>
  </div>
  <div *ngIf="!loadingInfo" class="tour-content">
    <div class="info-group">
      <label>TOUR DATE</label>
      <p *ngIf="workDetail.tourDate">{{ workDetail.tourDate | date:'EEEE, dd/MMMM/yyyy' }}</p>
    </div>
  
    <div class="info-group">
      <label>START TIME</label>
      <p *ngIf="workDetail.tourStartTime">{{ formatTime(workDetail.tourStartTime) }}</p>
    </div>
  
    <div class="info-group">
      <label>END TIME</label>
      <p *ngIf="workDetail.tourEndTime">{{ formatTime(workDetail.tourEndTime) }}</p>
    </div>
  
    <div class="info-group">
      <label>TOUR DURATION</label>
      <p>{{ workDetail.duration || '--' }}hr</p>
    </div>
  
    <div class="info-group">
      <label>NUMBER OF ADULTS</label>
      <p>{{ workDetail.adultCount || '--' }}</p>
    </div>
  
    <div class="info-group">
      <label>NUMBER OF CHILDREN</label>
      <p>{{ workDetail.childCount || '--' }}</p>
    </div>
  
    <div class="info-group">
      <label>AREA</label>
      <p>{{ workDetail.areaName || '--' }}</p>
    </div>
  
    <div class="info-group">
      <label>PRODUCT CODE</label>
      <p>{{ workDetail.workNumber || '--' }}</p>
    </div>
  
    <div class="info-group full-width">
      <label>MEETING POINT</label>
      <p>{{ workDetail.locationAddress || '--' }}</p>
    </div>
  </div>
  <div class="table-card">
    <!-- HEADER -->
    <div class="table-header">
      <h2>Orders</h2>
      <select class="status-select" [(ngModel)]="selectedStatus" (ngModelChange)="filteredOrders($event)" aria-label="Filter orders by status">
        <option *ngFor="let option of statusOptions" [value]="option.value">
          {{ option.label }}
        </option>
      </select>
    </div>
    <!-- TABLE -->
    <div class="table-contents">
      <!-- HEADER -->
      <div class="order-row table-head">
        <div>RESELLER</div>
        <div>ORIGINAL AGENT</div>
        <div>REF 1</div>
        <div>#GUESTS</div>
        <div>FEE (INC. TAX)</div>
        <div>SPECIAL</div>
        <div>STATUS</div>
        <div></div>
      </div>
      <!-- BODY -->
      <div *ngIf="loadingOrders" class="loading-state">
        <p>Loading...</p>
      </div>
      <div class="order-row" *ngFor="let order of orders">
        <div>
          {{ order.reseller || '--' }}
        </div>
        <div>
          {{ order.originalAgent || '--' }}
        </div>
        <div class="bold">
          {{ order.ref1 || '--' }}
        </div>
        <div>
          {{ order.adultCount }}/{{ order.childCount }}
        </div>
        <div class="bold">
          {{ formatCurrency(order.totalFeeAmount)  || '--' }}
        </div>
        <div class="special-cell">
          <span *ngIf="!order.specialRequests || order.specialRequests.length === 0">--</span>
          <span *ngFor="let request of order.specialRequests; let last = last">
            <img [src]="getSpecialRequestIcon(request.code)" [alt]="request.label" class="special-request-icon" />
          </span>
        </div>
        <div>
          <span class="status" [class]="getStatusClass(order.status)">
            {{ order.status }}
          </span>
        </div>
        <div class="details-link" (click)="goToOrderDetails(order.orderId)">
          Order Details
        </div>
      </div>
    </div>
  </div>
  <div class="table-card">
    <!-- HEADER -->
    <div class="table-header">
      <h2>Guides</h2>
      <button class="add-guide-btn" (click)="openGuideModal()">
        Add Guide
      </button>
    </div>
    <!-- TABLE -->
    <div class="table-contents">
      <!-- TABLE HEADER -->
      <div class="guide-row table-head">
        <div>GUIDE</div>
        <div>PHONE NUMBER</div>
        <div>MANAGER'S NOTE</div>
        <div>ROLE</div>
        <div>CALENDAR INVITATION</div>
        <div>STATUS</div>
        <div>ACTIONS</div>
      </div>
      <!-- TABLE BODY -->
      <div *ngIf="loadingGuides" class="guide-row">
        <p>Loading...</p>
      </div>
      <div *ngIf="!loadingGuides && guides.length === 0" class="guide-row">
        <p>No guides found.</p>
      </div>
      <div class="guide-row" *ngFor="let guide of guides">
        <!-- NAME -->
        <div>
          {{ guide.name || '--' }}
        </div>
        <!-- PHONE -->
        <div>
          {{ guide.phone || '--' }}
        </div>
        <!-- NOTE -->
        <div class="note-cell">
          <span *ngIf="!guide.isEditNote">
            {{ guide.note || '--' }}
          </span>
        
          <textarea *ngIf="guide.isEditNote" [(ngModel)]="guide.note" rows="3" placeholder="Enter note"
            (keydown.enter)="saveNote(guide); $event.preventDefault()">
            </textarea>
        
          <button *ngIf="!guide.isEditNote" class="icon-btn" (click)="guide.isEditNote = true">
            ✏️
          </button>
        </div>
        <!-- ROLE -->
        <div>
          {{ guide.role || '--' }}
        </div>
        <!-- CALENDAR -->
        <div class="calendar-cell">
          {{ guide.isCalendarInvitation ? 'Yes' : 'No' }}
        </div>
        <!-- STATUS -->
        <div>
          <span class="guide-status" [class]="getStatusClass(guide.status)">
            {{ guide.status }}
          </span>
        </div>
        <!-- ACTIONS -->
        <div class="actions-cell">
          <button *ngIf="guide.status !== 'ACCEPTED' && guide.status !== 'REMOVED'" class="action-btn accept" (click)="onClickGuideAction(guide.id, 'ACCEPTED')">
            <img class="approve-icon" src="/ui-icons/accept.png" alt="accept icon" />
          </button>
          <button *ngIf="guide.status !== 'REJECTED' && guide.status !== 'REMOVED'" class="action-btn reject" (click)="onClickGuideAction(guide.id, 'REJECTED')">
            <img class="reject-icon" src="/ui-icons/reject.png" alt="reject icon" />
          </button>
          <button *ngIf="guide.status !== 'REMOVED'" class="action-btn remove" (click)="onClickGuideAction(guide.id, 'REMOVED')">
            <img class="remove-icon" src="/ui-icons/remove.png" alt="remove icon" />
          </button>
          <button *ngIf="guide.status === 'REMOVED'" class="action-btn re-assign" (click)="onClickGuideAction(guide.id, 'PENDING')">
            <img class="remove-icon" src="/ui-icons/reassign.png" alt="remove icon" />
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="table-card">
    <!-- HEADER -->
    <div class="table-header">
      <h2>Itinerary</h2>
      <div class="header-actions">
        <ng-container *ngIf="itinerary">
          <input #pdfInput type="file" accept="application/pdf" (change)="onPdfSelected($event)" hidden>
          <button *ngIf="!isUploadingPdf" class="notes-btn upload-notes-btn" (click)="pdfInput.click()" style="display: flex; align-items: center;">
            <span class="notes-text">Tour Notes</span>
            <img class="link-icon" src="/ui-icons/link.png" alt="link icon" />
          </button>
          <span *ngIf="isUploadingPdf" class="uploading-text-notes" style="font-size: 13px; color: #caa04b; font-weight: 600; margin-right: 8px;">Uploading PDF...</span>
        </ng-container>
        <button class="add-stop-btn" (click)="openStopModal()">
          Add Stop
        </button>
      </div>
    </div>
    <!-- TABLE -->
    <div class="table-contents">
      <!-- HEADER -->
      <div class="itinerary-row table-head">
        <div>NAME</div>
        <div>SCHEDULE TIME</div>
        <div>PHONE NUMBER</div>
        <div>ADDED BY</div>
        <div>ADDED AT</div>
        <div>STATUS</div>
        <div>NOTES</div>
        <div>ACTIONS</div>
      </div>
      <!-- BODY -->
      <div *ngIf="loadingItineraries" class="itinerary-row">
        <p>Loading...</p>
      </div>
      <div *ngIf="!loadingItineraries && itineraryList.length === 0" class="itinerary-row">
        <p>No itinerary found.</p>
      </div>
      <div class="itinerary-row" *ngFor="let item of itineraryList">
        <!-- NAME -->
        <div>
          {{ item.supplierName || '--' }}
        </div>
        <!-- SCHEDULE -->
        <div>
          {{ formatDateTime(item.tourDate , item.scheduledTime) || '--' }}
        </div>
        <!-- PHONE -->
        <div>
          {{ item.supplierPhone || '--' }}
        </div>
        <!-- ADDED BY -->
        <div class="bold">
          {{ item.addedBy || '--' }}
        </div>
        <!-- ADDED AT -->
        <div>
          {{ item.createdAt | date:'dd/MM/yyyy HH:mm' }}
        </div>
        <!-- STATUS -->
        <div>
          <span [class]="getStatusClass(item.status)">{{ item.status }}</span>
        </div>
        <!-- NOTES -->
        <div>
          {{ item.specialNotes || '--' }}
        </div>
        <!-- ACTIONS -->
        <div class="actions-cell">
          <button *ngIf="item.status === 'SCHEDULED'" class="action-btn accept" (click)="onClickStopAction(item.id, 'CONFIRMED')">
            <img class="approve-icon" src="/ui-icons/accept.png" alt="accept icon" />
          </button>
          <button *ngIf="item.status !== 'CANCELLED'" class="action-btn remove" (click)="onClickStopAction(item.id, 'CANCELLED')">
            <img class="remove-icon" src="/ui-icons/remove.png" alt="remove icon" />
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="table-card">
    <div class="table-header">
      <h2>Receipts</h2>
    </div>
    <div class="table-table">
      <div class="receipt-row table-head">
        <div>RESTAURANT</div>
        <div>NOTES</div>
        <div>FEE</div>
        <div>TAX</div>
        <div>TOTAL</div>
        <div>T-NUMBER</div>
        <div>PASS-THROUGH</div>
        <div>PHOTO</div>
        <div>SUBMITTED BY</div>
        <div>SUBMITTED AT</div>
      </div>
      <div *ngIf="loadingReceipts" class="receipt-row">
        <p>Loading...</p>
      </div>
      <div *ngIf="!loadingReceipts && receipts.length === 0" class="receipt-row">
        <p>No receipts found.</p>
      </div>
      <div class="receipt-row" *ngFor="let receipt of receipts">
        <div>
          {{ receipt.supplierName || '--' }}
        </div>
        <div>
          {{ receipt.notes }}
        </div>
        <div>
          {{ formatCurrency(receipt.fee) }}
        </div>
        <div>
          {{ formatCurrency(receipt.tax) }}
        </div>
        <div class="bold">
          {{ formatCurrency(receipt.amount) }}
        </div>
        <div class="bold">
          {{ receipt.receiptNumber || '--' }}
        </div>
        <div>
          {{ receipt.isVerified ? 'Yes' : 'No' }}
        </div>
        <div>
          <img *ngIf="receipt.imageUrl" class="receipt-image" src="{{ receipt.imageUrl }}" alt="receipt icon" (click)="openReceiptPhoto(receipt)" />
          <img *ngIf="!receipt.imageUrl" class="photo-icon" src="/ui-icons/image-default.png" alt="photo icon" />
        </div>
        <div>
          {{ receipt.submittedBy || '--' }}
        </div>
        <div>
          {{ receipt.createdAt | date:'dd/MM/yyyy HH:mm' }}
        </div>
      </div>
      <!-- FOOTER -->
      <div class="receipts-footer">
        <div class="footer-label">
          TOTAL VOLUME
        </div>
        <div class="footer-total">
          {{ formatCurrency(totalVolume) }}
        </div>
      </div>
    </div>
  </div>

  <app-add-guide *ngIf="showGuideModal" [visible]="showGuideModal" [currentGuides]="currentGuides"
    (close)="closeGuideModal()" (reload)="getWorkGuides(workId)" (reloadWork)="getWorkDetail(workId)"></app-add-guide>

  <app-confirm-dialog [visible]="openConfirmWork" [message]="confirmTextWork" confirmText="Confirm" cancelText="Cancel"
    (confirm)="changeWorkStatus()" (cancel)="onCloseConfirmWork()">
  </app-confirm-dialog>

  <app-confirm-dialog [visible]="openConfirmGuide"
    [message]="confirmTextGuide" confirmText="Confirm" cancelText="Cancel" (confirm)="changeStatusGuide()"
    (cancel)="closeGuideConfirm()">
  </app-confirm-dialog>

  <app-confirm-dialog [visible]="openConfirmStop" [message]="confirmTextStop" confirmText="Confirm" cancelText="Cancel"
    (confirm)="changeStopStatus()" (cancel)="closeStopConfirm()">
  </app-confirm-dialog>
  
  <app-add-stop *ngIf="showStopModal" [visible]="showStopModal" [serviceInfo]="stopService" (close)="closeStopModal()" (reload)="loadItineraryStops(workId)"></app-add-stop>

  <div class="image-modal-backdrop" *ngIf="isImageModalOpen" (click)="closeReceiptPhoto()">
    <div class="image-modal-content" (click)="$event.stopPropagation()">
      <img [src]="selectedImageUrl" class="image-preview" />
    </div>
  </div>
</section>
